:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --studio-text-color: #000000;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --address-color: #ffffff;
  --hero-backgroud-color: #2f303a;
}




.hero {
  background-color: pink;
}





























/* body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
} */

/* logo in header */

/* .logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
} */

/* .blue-logo {
  color: var(--accent-text-color);
}

.black-logo {
  color: var(--studio-text-color);
}

/* navigation */
/* .nav-element {
  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
} */ */

/* .link:hover,
.link:focus {
  color: var(--accent-text-color);
} */
/* 
.site-nav .link-current {
  color: var(--accent-text-color);
} */

/* contact */
/* .contact {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
} */

/* .contact-list:hover,
.contact-list:focus {
  color: var(--accent-text-color);
}

/* hero */
/* .hero {
  background-color: var(--hero-backgroud-color);
}  */

/* .hero-title {
  color: var(--address-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
} */

/* hero button */
/* .button-primary {
  background-color: var(--accent-text-color);
  color: var(--address-color);
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
} */
/* 
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
} */

/* features */
/* .title-for-features {
  color: var(--secondary-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features {
  line-height: 0.58;
} */
/* main titles on page */
/* .title {
  color: var(--secondary-text-color);
} */

/* about team */
/* .member-team {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.occupation {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
} */

/* .about-team {
  background-color: var(--secondary-background-color);
}

/* for footer */

/* .footer-background {
  background-color: var(--hero-backgroud-color);
} */

/* logo in footer */
/* .white-logo {
  color: var(--address-color);
} */ 

/* .address {
  color: var(--address-color);

  line-height: 1.7;
  font-style: normal;
} */

/* .contact-footer {
  color: rgba(255, 255, 255, 0.6);

  line-height: 1.7;
}

/*  second page */

/* .project {
  color: var(--secondary-text-color);
} */ 

/* .button-secondary {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .button-secondary:hover,
.button-secondary:focus {
  color: var(--address-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
} */

/* .project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type-of-work {
  font-size: 16px;
  line-height: 1.9;
} */

/* no dots on web page
.list {
  list-style: none;
} */
