.container-header {
    margin-left: 65px;
    margin-right: 65px;
}


.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-link {
    display: block;
}

.header-icon {
    // justify-content: center;
    width: 69px;
    height: 73px;
}


.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        margin: 0;
    }

    &__item {
        margin-right: 30px;
    }

    &__link {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        color: getColor('title-text');
    }

    &__button {
        padding: 7px 28px;
        height: 45px;

        border-radius: 10px;
        border: none;
        background-color: getColor('button');
        color: getColor('button-text');
    }

}