
.header-nav {
    display: flex;
    justify-content: space-between;

    &__link {
        display: block;
    }
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        margin: 0;
    }

    &__item {
        margin-right: 30px;
    }

    &__link {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        color: getColor('title-text');
    }

}

.header-button {
    @extend %button;
}